<div id="back">
        <div class="Login">
            <h1 id="regist">REGISTRATION</h1>
            <form>
           <div class="textbox">
                
            <input type="text" name="name" placeholder="Enter Name">
            </div>

            <div class="textbox">
                
            <input type="text" name="userid" placeholder="Enter UserId">
            </div>
            <div class="textbox">
                
            <input type="password"id="pas1" name="password" placeholder="Enter Password">
            </div>
                <div class="textbox">
                
            <input type="password" id="pas2" name="password" placeholder="Enter Conform Password">
            </div>
            <input type="button" class="btn" name="submit" value="Submit">
           

                </form>
            </div>
        </div>