<div class="row">
    <div class="col-md-9">
      <h5>
        Choose Your Certification
      </h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 table-responsive-md">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Certification Name</th>
            <th scope="col">Institution</th>
            <th scope="col">Recevied on</th>
            <th scope="col">Expire on</th>
          </tr>
        </thead>
        <!-- </tbody> -->
        <!-- <tbody *ngIf="(!certifications) ||(certifications?.length ===0)"> -->
                <!-- <tbody >
          <tr>
            <td>
              <h5>{{errorMessage}}</h5>
            </td>
          </tr>
        </tbody> -->
         <tbody> 
          
          <tr *ngFor="let certificate of availcertificate; let i=index">
            <td>{{certificate.certification}}</td>
            <td>{{certificate.institution}}</td>
            <td>{{certificate.receivedon}}</td>
            <td>{{certificate.expireon}}</td>
            <td>
              <!-- <button id="{{addCertificate + certification?.certificationName}}" class="btn right" (click)=Valid(certification?.certificationName)> -->
                    <button (click)=addCertificate(i) [routerLink]="[{outlets:{certificateoutlet:['AddCertification']}}]" id="dear" class="btn btn-primary"  >
                Add
              </button>
            </td>
  
          </tr>
          <!-- <tr id={{certification?.certificationName}} hidden=true> -->
                <tr id="mydear" hidden=true>
            <td id="hidden-row" colspan="2">
              <!-- <app-add-certification [certificationReceived]=certification [certificationName]=certification?.certificationName (cancelClicked)='onCanceledClicked($event)'></app-add-certification> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<router-outlet name="certificateoutlet"></router-outlet>

