<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav id="nav1" class="navbar navbar-expand-md fixed-top navbar-light bg-light">

            <button class="navbar-toggler " data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a id="SkillPort" class="navbar-brand col-sm-3 col-md-2 mr-0" >SkillPort</a>
            <div class="collapse navbar-collapse" id="collapse_target">
                
            <!-- <form class="navbar-nav mx-auto form-inline mr-sm-2 ">
                <input class="form-control form-control-dark " type="text" placeholder="Search" aria-label="Search">
                <button id="searchbtn" class="btn my-sm-0 btn-secondary" type="submit"><i class="fa fa-search"></i></button>
              </form> -->
          
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="#">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            
          </ul>
        </div>
        </nav>
    </body>
</html>
