<form class="form">
    <fieldset>
  
      <!-- Training Name -->
      <div class="form-group">
        <label class="control-label" for="name"> Training Name </label>
  
        <input class="form-control" id="nameId" type="text" placeholder="Training Name (required) " />
  
        <span class="help-block" >
          <span id="err-msg" >
            Please enter Training Name !
          </span>
          <span id="err-msg" >
            Training Name must be longer than two characters !
          </span>
        </span>
  
      </div>
  
      <!--Description -->
      <div class="form-group">
        <label class="control-label" for="description"> Training Description </label>
  
        <textarea class="form-control" rows="3" id="descriptionId" placeholder="Description (required)" ></textarea>
  
        <span class="help-block" >
          <span id="err-msg" >
            Please enter Training Description!
          </span>
          <span id="err-msg" >
            Training Name must be more than ten characters !
          </span>
        </span>
      </div>
  
      <!-- Location -->
      <div class="form-group">
        <label class="control-label" for="location"> Location </label>
  
        <input class="form-control" id="locationId" type="text" placeholder="location(required) " />
  
        <span class="help-block" >
          <span id="err-msg" >
            Please enter location!
          </span>
        </span>
  
      </div>
  
      <!-- Type -->
      <div class="form-group" >
        <label class="control-label" for="type"> Training Type </label>
  
        <input class="form-control" id="typeId" type="text" placeholder="Training Type (required) " />
  
        <span class="help-block" >
          <span id="err-msg">
            Please enter Training Type !
          </span>
        </span>
  
  
      </div>
  
  
      <!-- Trainer Name -->
      <div class="form-group">
        <label class="control-label" for="trainer"> Trainer Name </label>
  
        <input class="form-control" id="trainerId" type="text" placeholder="Trainer Name (required) "  />
  
        <span class="help-block">
          <span id="err-msg">
            Please enter Trainer's First Name !
          </span>
          <span id="err-msg">
            Please enter valid name!
          </span>
        </span>
  
  
      </div>
  
      <!-- No. of Seats -->
      <div class="form-group">
        <label class="control-label" for="seats"> Available Seats </label>
  
        <input class="form-control" id="seatsId" type="text" placeholder="Seats (required) "/>
  
        <span class="help-block" >
          <span id="err-msg">
            Please enter number of seats!
          </span>
          <span id="err-msg">
            Please enter valid number!
          </span>        
        </span>
        <!-- <div [ngClass] = "'error'" *ngIf="seats.error?.pattern" >
       User name not valid.
  </div>  -->
      </div>
  
  
  
      <!-- More Training Session Details -->
  
      <div id="row" class="row">
        <div class="col">
          <button id="trainingDate" class="btn" (click)="add($event)" title="Click to Add Sessions">
            <!-- <i class="fas fa-plus"></i> -->
            Add Session
          </button>
        </div>
        <div class="col" >
          <button id="trainingDate" class="btn" (click)="remove($event);" title="Remove Sessions">
            <!-- <i class="fas fa-minus"></i> -->Remove Session
          </button>
        </div>
      </div>
  
      <div class="row" >
        <div class="row" id="addition">
          <div class="col">
            <label>Start Date</label>
            <input class="form-control" id="trainingDateId" type="date" />
          </div>
          <div class="col">
            <label>Start Time</label>
            <input class="form-control" id="startTimeId" type="time" />
          </div>
          <div class="col">
            <label>End Time</label>
            <input class="form-control" id="endTimeId" type="time" />
          </div>
        </div>
      </div>
      <!-- SAVE -->
      <div>
        <button id="save-training" type="submit" (click)="save()" [disabled] class="btn btn-secondary ">Save</button>
      </div>
    </fieldset>
  </form>