<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" id="havetop">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Welcome</h1>
          <p class="lead my-3">An investment in knowledge pays the best interest</p>
        </div>
      </div>

<div class="container">
    
    <!-- Three columns of text below the carousel -->
    <div class="row division">
      <div class="col-lg-4">
        <img src="/assets/images/skills logo.jpg"/>
        <div style="margin-top: 8px;">
        
        <h2>Skills</h2>
    <p> Rate and Update your skills <p>
        </div>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="\assets\images\certification logo.png"/>
          <div style="margin-top: 18px;">
          <h2>Certification</h2>
          <p> Add certificates for the record <p>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="\assets\images\training logo.jpg"/>
          <div>
          <h2>Training</h2>
            <p> Register/Offer a Training<p>
            </div>
                            
        </div><!-- /.col-lg-4 -->
    </div>
               
  