

/* body
{
    padding-top: 40px;
    padding-left: 200px;
} */
#havetop{
    margin-top: 10%;
    margin-left: 0.8%;
}
.division{
    margin-left: 10em;
}

img {
    max-width:50%;
    height:auto;
}
